<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
    {% if page.url contains 'terms' or page.url contains 'privacy' %}
    <link rel="stylesheet" href="{{ '/assets/css/terms-privacy.css?v=' | append: site.github.build_revision | relative_url }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif %}>
    <header id="main-header">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/" class="logo">
          <span>Info Metropolitano</span> Cádiz
        </a>
        <nav>
          <button id="menu-toggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <ul class="nav-menu">
            <li><a href="{{ site.baseurl }}/">Inicio</a></li>
            <li><a href="{{ site.baseurl }}/terms">Términos</a></li>
            <li><a href="{{ site.baseurl }}/privacy">Privacidad</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        </div>

        {{ content }}

      </section>

    </div>
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const menuToggle = document.getElementById('menu-toggle');
        const navMenu = document.querySelector('.nav-menu');
        
        menuToggle.addEventListener('click', function() {
          navMenu.classList.toggle('show');
        });
      });
    </script>
  </body>
</html>